.service-package{
    border: 2px solid #c4c4c4c4;
    padding: 15px;
    border-radius: 20px;
}

.container h3{
    margin-top: 0px;
}

.to-pay{
	cursor:pointer;
}

.to-pay:hover{
	background-color: rgba(169,68,66,255);
	color: rgba(242,222,221,255);
}