
.costumized-form {
    border-radius: 20px;
    margin-top: 30px;
}

.note {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #00cf8d;
    font-weight: bold;
}

.form-content {
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}

.form-control {
    border-radius: 1.5rem;
}

.btnSubmit {
    border: none;
    border-radius: 1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #00cf8d;
    color: #fff;
}

.message {
    font-size: 15px;
    padding-top: 15px;
}